* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

.indexTitle {
    text-align: center;
}

.indexTitle img {
    max-width: 100%;
    height: auto; 
}

.card-container {
    width: 100vw;
    height: auto;
    padding-top: 50px;
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 5px solid #e42dd4;
    perspective: 1000px; 
  }

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .card-front {
    background-color: #bbb;
    color: black;
  }

  .card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }