* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.indexTitle {
    text-align: center;
}

.indexTitle img {
    height: auto; 
}

.card-container {
    width: 100vw;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: transparent;
    width:30%;
    height: auto;
    min-height: 200px;
    perspective: 1000px;
    align-items:center;
    cursor: pointer;
    margin: 1rem;
  }

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: transparent;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border: 3px solid blueviolet;
    
    border-radius: 5px;
  }

  .card-front {
    color: rgb(138,43,226);
    box-shadow: 0px 0px 10px 2px rgba(138,43,226,0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(138,43,226,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(138,43,226,0.75);
  }

  .card-back {
    transform: rotateY(180deg);
    background-color: rgb(138,43,226);
    color:white;
    -webkit-box-shadow:0px 0px 80px 20px rgba(138,43,226,0.9);
    -moz-box-shadow: 0px 0px 80px 20px rgba(138,43,226,0.9);
    box-shadow: 0px 0px 80px 20px rgba(138,43,226,0.9);

  }
  
  h3 {
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
    font-weight: 300;
    font-size:1.5em;
    margin: 15px 0 0;
    color: rgb(56, 7, 102);
  }

  

  @media screen and (max-width: 960px){
    .card{
      width: 48%;
    }
  }
  
  @media screen and (max-width: 460px){
    .card{
      width: 70%;
    }
  }